header{
    background-image: url(../img/img_arriere_plan/debut.png);
    height: 100vh;
    width: 100vw;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    margin: 0;
    
}
.fleche{
    position: absolute;
    bottom: 0px;
    right: 0px;
    width: 200px;
   
    margin: 20px;
}
.titre{

    text-align: center;
    font-family: "Raleway";
}
.mention{
    font-size: 15px;
    text-align: center;
    font-family: "Raleway";
    position: absolute;
    bottom: 0px;
    left: 15vw;
    right: 15vw;
}
body{
    overflow-x: hidden;
    margin: 0;
    background-color: black;
}
:root {
    --titre: #FFFFFC;
    --sub: #757780;
    --background1: #001011;
    --background2: #98ce00;
    --background3: #6ccff6;
  }
  h1{
    margin: 0;
    font-size: 5vw;
    color: var(--background2);
  }
  h2{
    font-size: 3vw;
    margin:0;
    color: var(--titre);
    font-family: "Raleway";
    text-align: center;
  }
section{
    width: 100vw;
    height: 100vh;
    position: relative;
    border: red 1px solid;
}
#chapitre1{

    background-image: url(../img/img_arriere_plan/1/1x/ciel.png);
    overflow: hidden;
   
}
#chapitre2{
    background-image: url(../img/img_arriere_plan/2/1x/noir.png);
   background-color: #fff;
    background-repeat: no-repeat;
    background-size: contain;
    background-size: 100vw 100vh;
}
#chapitre3{
    background-image: url(../img/img_arriere_plan/3/1x/jaune.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-size: 100vw 100vh;
    position: relative;
}
#chapitre4{
    background: orange;
    position: relative;
    background-image: url(../img/img_arriere_plan/4/1x/terre.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-size: 100vw 100vh;
    
}
#chapitre5{
    background: rgb(20, 1, 20);
    position: relative;
    overflow: hidden;
}
#chapitre6{
    background: black;
    position: relative;
}

.montagne{
    position: absolute;
    bottom: 5vh;
   
    height: 75vh;
}
.plaine{
    position: absolute;
    left: -20vw;
    bottom: -60vh;
    height: 100vh;
    z-index: 2;
    
}
.foret{
    position: absolute;
    left: -2000px;
    bottom: -50vh;
    height: 100vh;
    z-index: 1;
}
.katana{
    position: absolute;
    height: 1000px;
    left: 44vw;
   top:10vh;
   visibility: hidden;
}
.dague{
    position: absolute;
    overflow: visible;
    height: 1000px;
    left: 44vw;
   top:-5vh;
    
}
.epee{
    position: absolute;
    width: 20vw;
    visibility: hidden;
}
.lame{
    position: absolute;
    height: 500px;
    left: 44vw;
   top:10vh;
}
.manche{
    position: absolute;
    height: 250px;
    left: 44vw;
   top:70vh;
}
.socle{
    position: absolute;
    height: 50px;
    left: 60vw;
   top:50vh;
}
.soutien{
    position: absolute;
    height: 50px;
    left: 35vw;
   top:50vh;
}
.soleil{
    position: absolute;
    left: 40vw;
}
.arbre1{
    position: absolute;
    left: 40vw;
    bottom: 27vh;
    transform-origin: 50% 100%;
}
.arbre2{
    position: absolute;
    left: 30vw;
    bottom: 26vh;
    transform-origin: 50% 100%;
}
.arbre3{
    position: absolute;
    left: 50vw;
    bottom: 29vh;
    transform-origin: 50% 100%;
}
.katana_meditation{
    position: absolute;
    left: 57vw;
    bottom: 29vh; 
    width: 200px;
}
.vague{
    position: absolute;
    right: 0;
    bottom: -30vh;
}
.fantome_gauche{
    position: absolute;
    right: 18vw;
    bottom: 0vh; 
    width: 12vw;
}
.fantome_droite{
    position: absolute;
    right: 12vw;
    bottom: 0vh; 
    width: 10vw;
    z-index: 2;
}
.bulle1{
    position: absolute;
    right: 25vw;
    top: 0vh;
    width: 25vw;
}
.bulle2{
    position: absolute;
    left: 12vw;
    top: 12vh;
    width: 500px;
}
.bulle3{
    position: absolute;
    left: 12vw;
    top: 12vh;
    width: 200px;
}
.bulle4{
    position: absolute;
    left: 12vw;
    bottom: 20vh;
    width: 300px;
}
.perso_tue{
    position: absolute;
    right: 20vw;
    top: 0vh;
    width: 25vw;
    z-index: 1;
}

.body2{
    height: 200vw;
}
.sprite{
    background-image: url(../img/img_personnages/marche_katana-boy/spritesheet_marche_katana-boy.png);
    position: absolute;
    background-size: cover;
    left: 40vw;
    bottom: 20vh;
    z-index: 3;

   
   
    width: 30vh;
    height: 30vh; 

    background-repeat: repeat-x;
    animation: pas 1s infinite steps(16);
    animation-play-state: paused;
  
    
}
@keyframes pas{
    from{background-position:0 0;}
    to{background-position: 1600% 0};
  }

  .dude_medit_sprite{
    background-image: url(../img/img_personnages/meditation/katana-boy/spritesheetmeditation_katana-boy.png);
    position: absolute;
    background-size: cover;
    width: 200px;
    height: 200px; 
    
    background-repeat: repeat-x;
    animation: pas 1s infinite steps(16);
    animation-play-state: paused;
    z-index: 1;
    right: 35vw;
    bottom: 20vh;
  }

  .contenu1{
    color: var(--background2);
  }
  .contenu4{
    color: var(--background2);
  }
  .contenu5{
    color: var(--sub);
  }
  .contenu6{
    color: var(--background3);
    position: relative;
    z-index: 1;
  }
  .dessin{
      position: absolute;

    right: 5%;
    top: 10%;
  }
  .fin{
      color: white;
      font-size: 10vw;
      text-align: center;
  }
  ul.technique-gsap{
    background: rgba(0,0,0,0.3);
    color: white;
    font-size: 10px;
    font-family: monospace;
    font-weight: 400;
    width: auto;
    display: inline-block;
    padding: 10px 20px 12px 20px;
    margin: 0;
    max-width: 300px;
    position: absolute;
    z-index: 1000;
    top: 0;
    left: 0;
}

ul.technique-gsap li{
    margin: 5px 0;
}